/* default all margin/padding/border to 0 */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: black;
    max-width: 2000px;
    margin: 0 auto;
}

/* heading */
h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 0.25rem;
    color: black;
}

h3 {
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

hr {
    border-top: 0.125rem solid black;
    width: 100%;
    margin: 0.3125rem 0 0.625rem;
}

/* logo and menu */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 1.875rem;
}

#menu {
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.125rem;
    float: right;
}

#menu,
#logo {
    line-height: 4.6875rem;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 1.875rem;
}

/* hero image and text */
#hero-outer {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 37.5rem;
    width: 100%;
    background: url("../images/coffee-bean.jpg") no-repeat center center;
}



#welcome-text {
    letter-spacing: 0.25rem;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-transform: uppercase;
}

#welcome-text h2 {
    color: black;
    font-size: 200%;
}

#welcome-text h3 {
    color: black;
    font-size: 150%;
    font-weight: bold;
    line-height: 1;
    padding-top: 1.875rem;
}

#tagline {
    text-align: center;
    margin: 0;
    padding: 1.875rem;
    font-size: 280%;
    text-transform: uppercase;
    line-height: 1;
}

/* footer styling */
footer {
    height: 14.1rem;
    padding-top: 1rem;
}

#footer-group {
    width: 43.75rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.875rem;
}

#footer-left-panel {
    float: left;
    text-align: left;
}

#footer-right-panel {
    float: right;
    text-align: left;
}

#footer-center-panel {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.footer-text {
    font-size: 90%;
    font-weight: 600;
}

#opening-times li {
    list-style-type: none;
}

.social-networks {
    text-align: left;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0.5rem;
    color: black;
    text-decoration: none;
}



